@use 'variables';

@mixin score-exact-try-items-style{
    font-weight: bold;
    border-radius: variables.$border-radius;
    padding: 5px;
    box-shadow: variables.$box-shadow;
    width: 15%;
}

@mixin total-centered-item-in-row-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin total-width-little-screen{
    @media (max-width:700px) {
        width:variables.$total-width;
    }
}

