$math-box-bg: #26A69A;
$box-shadow: 0px 2px 5px;
$border-radius: 10px;
$body-bg-color: radial-gradient(circle, #B2DFDB, #80CBC4);
$score-bg-color: #FFF9C4;
$exact-bg-color: #81C784;
$try-again-bg-color: #E57373;
$afaire-bg-color: #FFF9C4;
$bg-color-choice: #80DEEA;
$instruction-bg-color: #FFCC80;
$game-over-bg-color: linear-gradient(to top, #A5D6A7, #C8E6C9);
$game-over-text: #37474F;
$total-width:100%; //pour un width de 100%
$cursor-pointer: pointer;