@use 'variables';
@use 'mixins';

body{
    height: 100vh;
    background:variables.$body-bg-color;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px 10px;
    // @media (max-width:700px) {
    //     height: 90vh;
    // }
    margin: 0;

    h1{
        width: 75%;
        padding: 5px;
        box-shadow: variables.$box-shadow;
        background-color:variables.$math-box-bg;
        border-radius: variables.$border-radius;
        @include mixins.total-width-little-screen
    }
    .container{
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color: variables.$math-box-bg;
        border-radius: variables.$border-radius;
        // margin-top: 4%;
        width: 75%;
        height: 90%;
        box-shadow: variables.$box-shadow;
        @include mixins.total-width-little-screen;

        //debut pour score exact try again
        .score-exact-try-box {
            display: flex;
            padding: 5px;
            justify-content: space-between;
            position: relative; /* Ajoutez ceci pour positionner les éléments enfants absolus */
          
            .score {
              @include mixins.score-exact-try-items-style;
              background-color: variables.$score-bg-color;
              @media (max-width:700px) {
                width: 80px;
              }
            }
          
            .exact,
            .try-again {
              position: absolute;
              top: 5px;
              left: 37.5%;
            //   width: 25%;
              padding: 5px;
            //   height: 100%;
              @include mixins.total-centered-item-in-row-flex;
              border-radius: 10px;
              display:none;
            }
          
            .exact {
              font-weight: bold;
              background-color: variables.$exact-bg-color;
              @include mixins.score-exact-try-items-style;
              z-index: 2;
            }
          
            .try-again {
              background-color: variables.$try-again-bg-color;
              @include mixins.score-exact-try-items-style;
              width: 25%;
            }
          }
          //fin pour score exact try again
          
          //debut calcul à faire,clique ici,et choix possible
        .afaire-instruction-choix{
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            padding: 5px;
            width: 80%;
            // border: 1px solid;
            height:90%;
            // margin: 10px;
            margin-bottom: 20px;
            .afaire{
                @include mixins.score-exact-try-items-style; //meme stytle au niveau des bordure que score,exact..
                width:variables.$total-width;
                height: 40%;
                background-color: variables.$afaire-bg-color;
                margin-bottom: 10px;
                @include mixins.total-centered-item-in-row-flex;
                font-size: 120px;
                @media (max-width:700px) {
                    font-size: 80px;
                }
            }
            //GameOver box
            .game-over{
                border: 1px solid;
                height: auto;
                border-radius: variables.$border-radius;
                width:variables.$total-width;
                background: variables.$game-over-bg-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 25px;
                color: variables.$game-over-text;
                text-align: center;
                z-index: 5;
                font-weight: bold;
                text-transform: uppercase;
                display: none;
            }
            //instruction pour le message qui dit de cliquer pour commencer le jeu
            .instruction{
                display: flex;
                justify-content: center;
                align-items: center;
                @include mixins.score-exact-try-items-style;
                width:variables.$total-width;
                height: 40px;
                margin-bottom: 30px;
                background-color: variables.$instruction-bg-color;
                // display: none;
            }
            .choix{
                width:variables.$total-width;
                display: flex;
                text-align: center;
                justify-content: space-between;
                width:variables.$total-width;
                height: 15%;
                position: relative;
                div{
                    @include mixins.score-exact-try-items-style;
                    background-color:variables.$bg-color-choice;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 40px;
                    position:relative;
                    transition: all 0.5s;
                    cursor: variables.$cursor-pointer;
                    &:active{
                        background-color: variables.$afaire-bg-color;
                        top: 2px;
                    }
                }

            }
        }
        // fin instruction,calcul à faire et choix

        .start-game-compteur{
            display: flex;
            justify-content: space-evenly;
            padding: 5px;
            margin-bottom: 10px;
            .jouer-relancer{
                // width: 80%;
                // width: 55px;
                background-color:variables.$bg-color-choice;
                @include mixins.score-exact-try-items-style;
                cursor: variables.$cursor-pointer;
                position: relative;
                transition: all 0.5s;
                @media (max-width:700px) {
                    width: 100px;
                }
                &:hover{
                    background-color: aquamarine;
                }
                &:active{
                    top: 2px;
                }
            }
            .compteur,.vide{
                background-color:variables.$bg-color-choice;
                @include mixins.score-exact-try-items-style;
                width: 10%;
                // visibility: hidden;
                display: none;
            }
        }
        
    }
}

        